body {
    background: url('https://cdn.pixabay.com/photo/2016/09/08/12/00/stars-1654074_960_720.jpg') no-repeat center center fixed; 
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    background-repeat: none;
    height: 100%;

}

.nav {
    height: 60px;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
    
}

.sw-image{
    height: 60px;
    margin-left: 10px;
}

.characters {
    color: rgb(217, 232, 20);
}

.planets {
    color:rgb(217, 232, 20);
}

.info {
    color: rgb(217, 232, 20);
}

.main {
    width: 18rem;
    margin-left: 5px;
    background-color: black;
    color: yellow;
}

.desc {
    color: yellow;
}

h1 {
    color: yellow;
}

hr {
    color: yellow;
}

.trash {
    background: white;
    border: none;
    color: red;
}

body {
    background-color: black;
}






