body {
    background: url('https://cdn.pixabay.com/photo/2016/09/08/12/00/stars-1654074_960_720.jpg') no-repeat center center fixed; 
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    background-repeat: none;
    height: 100%;

}

.navbar {
    height: 60px;
    background-color: black;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trash {
    background: white;
    border: none;
    color: red;
}

.sw-image{
    height: 50px;
}